DB_DIALECT=postgresql
DB_SERVER=localhost
DB_PORT=5432
DB_NAME=postgres
DB_USER=postgres
DB_PASSWORD=your_postgres_password
DB_SCHEMA=ms_p1_api

AZURE_OPENAI_ENDPOINT=unused
AZURE_OPENAI_KEY=unused
AZURE_DEPLOYMENT_NAME=unused
AZURE_AI_SEARCH_ENDPOINT=unused
AZURE_AI_SEARCH_API_KEY=unused
